name: Deploy Reinvoiz Landing Page to production

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Notify Discord pipeline started
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          message: Reinvoiz Landing Page Pipeline started for ${{ github.event_name }} event on branch ${{ github.ref }}.

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install
        
      - name: Build
        run: npm run build

      - name: AWS Login
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::190930221916:role/github-action-role
          aws-region: ap-southeast-1

      - name: Sync to S3
        run: |
          aws s3 sync dist/ s3://reinvoiz --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation --distribution-id EEQH58C5MIAIF --paths "/*"

      - name: Notify Discord on success
        if: success()
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          message: "Reinvoiz Landing Page Pipeline completed successfully for ${{ github.workflow }} - ${{ github.ref_name }} deployment :white_check_mark:"
  
      - name: Notify Discord on failure
        if: failure()
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          message: "Reinvoiz Landing Page Pipeline failed for ${{ github.workflow }} - ${{ github.ref_name }} deployment :x:"